/* Global Styles */

html,
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 29px;
}

h3,
p {
  font-size: 19px;
  line-height: 32px;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

/* Section Styles */

main > article > section {
  padding: 65px 20px;
}

@media (min-width: 760px) {
  main > article > section > header > p {
    max-width: 50%;
  }
  main > article > section {
    padding: 65px 40px;
    max-width: 1300px;
    margin: 0 auto;
  }
}

/* Grid Styles */

/* only applied on desktop */
@media (min-width: 760px) {
  /* this is a grid with two columns */
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* this is a grid with four columns */
  .grid-1-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
  }
}

/* Card Styles */

.card {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 40px;
}

.card section {
  padding: 20px;
}

.card p {
  font-size: 17px;
}

@media (min-width: 760px) {
  /* image should fill figure container of card that
    also has two columns */
  .card.grid-1-2 img {
    object-fit: cover;
    height: 100%;
  }

  .card.grid-1-2 section {
    padding: 40px;
  }
}

/* Header Styles */

main > article > header {
  background: linear-gradient(to right, #23517f, #80424d);
  color: white;
  padding: 0 20px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

main > article > header h1 {
  margin-top: 0;
}

main > article > header a {
  color: white;
  text-decoration: none;
  border: solid 1px white;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
}

main > article > header img {
  opacity: 0.5;
}

@media (min-width: 760px) {
  main > article > header {
    height: unset;
    padding: 100px 40px;
  }

  /* the main header should have a grid gap of 40px */
  main > article > header.grid-1-2 {
    grid-gap: 100px;
  }

  main > article > header > figure {
    display: flex;
    align-items: center;
  }
}

/* Button Styles */

/* Navbar Styles */

/* Footer Styles */

footer {
  background: black;
  color: white;
  padding: 20px 20px;
}

footer a {
  color: white;
}
